#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 1em;
  /* filter created following https://stackoverflow.com/a/52041765 */
  filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(72deg) brightness(100%) contrast(97%);
}

.main-title {
  display: flex;
  justify-items: center;
  gap: 0.3em;
}

.search-bar {
  text-align: left;
  margin-bottom: 1em;
  font-size: 18px;
}

.search-bar input[type="text"] {
  height: 32px;
  box-sizing: border-box;
  padding: 0.3em;
  width: 250px;
}

.repo-filter-title button {
  margin-left: 1em;
}

.search-results {
  margin-top: 1em;
}

.search-results-header {
  color: rgb(223, 210, 113);
}

.search-results-repo-name {
  color: #62a4f9;
  font-weight: 700;
}

.target .target-name {
  color: #0ed45b;
  font-weight: 700;
}

.target .target-version {
  font-weight: 700;
}