#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  --tree-bar-bg-color: white;
  --tree-bar-bg-color-on-hover: #cb8326;
}

.logo {
  width: 1em;
  height: 1em;
  /* hide the overflowing alt text if present and the img url is broken  */
  overflow: hidden;
  /* filter created following https://stackoverflow.com/a/52041765 */
  filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(72deg) brightness(100%) contrast(97%);
}

.main-title {
  display: flex;
  justify-items: center;
  gap: 0.3em;
}

.search-bar {
  text-align: left;
  font-size: 18px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.search-input input[type='text'] {
  height: 32px;
  box-sizing: border-box;
  padding: 10px;
  width: 250px;
}

.search-input input::placeholder {
  color: #bcbaba;
}

.search-bar .search-examples {
  font-size: 80%;
  padding: 0 0.5em;
  color: #b3b1ae;
}

.repo-filter-desc {
  margin-bottom: 1em;
}

.repo-filter-desc button {
  margin-left: 1em;
}

.repo-filter-desc b.repo-filter-customized {
  color: #dd781f;
}

.repo-filter-desc button.repo-filter-customized {
  color: #f37a0f;
}

.search-results-vertical-bar {
  position: absolute;
  width: 1em;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: -40px;
}

/* vertical bar below every open/close [-] symbol */
.search-results-vertical-bar > .bar-child {
  width: 1px;
  height: 100%;
  background-color: var(--tree-bar-bg-color);
}

.search-results-vertical-bar:hover > .bar-child {
  background-color: var(--tree-bar-bg-color-on-hover);
}

/* horizontal bar next to every row */
.search-results ul > li::before {
  position: absolute;
  content: '';
  height: 1px;
  background: var(--tree-bar-bg-color);
  width: 24px;
  left: -32px;
  top: 13px;
}

/* block the same color of the background to
   cover the extra part of the vertical lines
   once you reached the last child.
   It overrides the regular (non last) horizontal
   bar, so it provides one.
*/
.search-results ul > li:last-child::before {
  position: absolute;
  height: 100%;
  left: -33px;
  box-sizing: border-box;
  border-top: 1px solid var(--tree-bar-bg-color);
  background: var(--bg-color);
}

.search-results-dependency.has-subtree {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
}

.search-results ul li {
  position: relative;
}

.search-results .first-level > ul > li::before {
  display: none;
}

.search-results .first-level > ul > .search-results-vertical-bar {
  display: none;
}

.dependency-block {
  position: relative;
  height: auto;
  overflow: hidden;
  transform: scaleY(1);
  /* 0.3s is not respecting the actual height, so
     taller blocks close "slower"
  */
  transition: max-height 0.3s ease-in-out;
}

.dependency-block.closed {
  max-height: 0 !important;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    height: auto;
  }
  90% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.search-results-dependency.has-subtree > .material-symbols-outlined {
  font-size: 16px;
  padding-top: 3px;
}

.search-results-dependency.has-subtree > .material-symbols-outlined.closed {
  color: var(--tree-bar-bg-color-on-hover);
}

.search-results-label {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0.5em;
}

.search-results-item {
  line-height: 1.6em;
}

.search-results-item .first-level > ul {
  padding-left: 1em;
}
.search-results-item .first-level > ul::before {
  display: none;
}

.search-results-item ul {
  margin: 0;
}

.search-results-item li {
  list-style: none;
}

.search-results-item .dependency-row.closed > ul {
  display: none;
}

.search-results-header {
  display: flex;
  align-items: center;
}

.search-results-header-title {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}

.search-results-header-title-label {
  display: inline;
  color: rgb(223, 210, 113);
  font-size: 18px;
}

.search-results-repo-name {
  display: flex;
  color: #62a4f9;
  font-weight: 700;
  list-style: none;
  align-items: end;
}

.search-results-repo-name-text {
  display: inline-flex;
  align-items: center;
}

.search-results-repo-link {
  display: inline-flex;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 0.5em;
}

.search-results-repo-link > .material-symbols-outlined {
  font-size: 16px;
  width: 16px;
  overflow: hidden;
}

button.copy-search-url {
  display: inline-flex;
  text-decoration: none;
  gap: 0.3em;
}

button.copy-search-url > .material-symbols-outlined {
  font-size: 24px;
  width: 24px;
  overflow: hidden;
}

.search-url-copied {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: 16px;
}

button.copy-search-url.hidden,
.search-url-copied.hidden {
  display: none;
}

.search-results-dependency.target,
.search-results-dependency.already-rendered {
  display: flex;
  align-items: center;
}

.target .target-name {
  color: #0ed45b;
  font-weight: 700;
}

.target .target-version {
  font-weight: 700;
}

.search-results-skeleton {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 1em;
  margin-top: 1em;
}

.search-results-skeleton-bar1 {
  height: 28px;
  width: 70%;
  flex: 1 0 auto;
  background-color: darkgray;
  position: relative;
  border-radius: 5px;
}

.search-results-skeleton-bar2 {
  height: 72px;
  width: 100%;
  flex: 1 0 auto;
  background-color: darkgray;
  position: relative;
  border-radius: 5px;
}

.search-results-skeleton-list {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 0.3em;
}

.search-results-skeleton-item {
  height: 24px;
  width: 55%;
  flex: 1 0 auto;
  background-color: darkgray;
  position: relative;
  border-radius: 5px;
}

.search-results {
  --palette-1: #fa4f42;
  --palette-2: #4caf50;
  --palette-3: #2196f3;
  --palette-4: #ffeb3b;
  --palette-5: #d256e7;
  --palette-6: #00bcd4;
  --palette-7: #f8578f;
  --palette-8: #ff9800;
  --palette-9: #65d67c;
}

.theme-select {
  position: fixed;
  top: 1em;
  /* We don't simply use right: 1em because this way we avoid */
  /* the horizontal movement when the scrollbar appears/disappears. */
  left: calc(100vw - 200px);
  display: flex;
  gap: 1em;
}

.light-theme .logo {
  /* filter created following https://stackoverflow.com/a/52041765 */
  filter: invert(15%) sepia(55%) saturate(562%) hue-rotate(166deg) brightness(88%) contrast(85%);
}

.light-theme .search-input input::placeholder {
  color: #686868;
}

.light-theme .search-results-header-title-label {
  color: rgb(10, 136, 36);
}

.light-theme .search-results-repo-name {
  color: #1f57a0;
}

.light-theme .search-bar,
.light-theme .search-examples {
  color: #757575;
}

.light-theme .search-results {
  --palette-1: #e12e21;
  --palette-2: #3b7f03;
  --palette-3: #006fc7;
  --palette-4: #5e0066;
  --palette-5: #9c27b0;
  --palette-6: #108290;
  --palette-7: #810000;
  --palette-8: #0a6303;
  --palette-9: #bd5a37;
}

.light-theme .search-results {
  --tree-bar-bg-color: black;
  --tree-bar-bg-color-on-hover: #b85600;
}

.light-theme .repo-filter-desc b.repo-filter-customized {
  color: #ba5b07;
}

.light-theme .repo-filter-desc button.repo-filter-customized {
  color: #964b09;
}
