#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  /* filter created following https://stackoverflow.com/a/52041765 */
  filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(72deg) brightness(100%) contrast(97%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-title {
  display: flex;
  justify-items: center;
  gap: 0.3em;
}